.dialogsWrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;

  .dialogs {
    padding: 10px;

    .dialog {

    }
    .dialogActive {
      color: #4A76A8;
    }
  }

  .messages {
    padding: 10px;

    .message {

    }
  }
}